Flask>=3.0.0
Flask-Cors>=5.0.0
PyYAML>=6.0.2
requests>=2.32.3
Faker>=37.4.2
jsonschema>=4.23.0
openapi-schema-validator>=0.6.3
watchdog>=6.0.0
Werkzeug>=3.0.3
python-dateutil>=2.9.0
click>=8.1.7
colorama>=0.4.6
rich>=13.9.4
